<div class="wrapper">
    <span *ngIf="hint!=null">{{hint}}</span>
    <br>
    <div>
        <label>First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" [(ngModel)]="firstName" />
    </div>
    <br>
    <div>
        <label>Last &nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" [(ngModel)]="lastName" />
    </div>
    <br>
    <div>
        <label>User &nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" [(ngModel)]="username" />
    </div>
    <br>
    <div>
        <label>Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" [(ngModel)]="password" />
    </div>
    <br>
    <div>
        <label>Confirm Password&nbsp;</label>
        <input type="password" [(ngModel)]="password1" />
    </div>
    <br>
    <div>
        <label>Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" [(ngModel)]="phone" />
    </div>
    <br>
    <div>
        <label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" [(ngModel)]="email" />
    </div>
    <br>
    <div>
        <button (click)="createUser()">Submit</button>
    </div>
</div>