<table>
<tr>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
</tr>
<tr>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
</tr>
<tr>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
    <td><img src="../../../assets/pictures/eg_chinarose.jpg" /></td>
</tr>
</table>
