<div class="wrapper">
    <span class="hint" *ngIf="hint!=null">{{hint}}</span>
    <br>
    <div *ngIf="userData!=null">
        <span class="userDesc">First Name:&nbsp;{{userData.firstName}}</span>
        <br>
        <span class="userDesc">Last &nbsp;Name:&nbsp;{{userData.lastName}}</span>
        <br>
        <span class="userDesc">User&nbsp; Name:&nbsp;{{userData.username}}</span>
        <br>
        <span class="userDesc">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{userData.phone}}</span>
        <br>
        <span class="userDesc">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{userData.email}}</span>
        <br>
        <button routerLink="modifyUser">Modify</button>
    </div>

    <div *ngIf="userData==null">No user to display</div>
</div>