<div class="wrapper">
    <div>
        <span *ngIf="error!=null">{{error}}</span>
    </div>
    <br>
    <div>
        <label>Username&nbsp;</label>
        <input type="text" [(ngModel)]="username" />
    </div>
    <br>
    <div>
        <label>Password&nbsp;</label>
        <input type="password" [(ngModel)]="password" />
    </div>
    <br>
    <div>
        <button class="login" (click)="login()">Login</button>
        <button class="register" routerLink="createUser">Register</button>
    </div>
</div>