.wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 295px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: normal;
}

span{
    color:red;
}

.login{
    float: left;
}

.register{
    float: right;
}